{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <h1>{{ title }}</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                    <tr>
                        <td>{{ produit.id }}</td>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.description }}</td>
                        <td>{{ produit.dateajout | date("m/d/Y") }}</td>
                        <td>{{ produit.categorie }}</td>
                        <td>{{ produit.prix }}</td>
                    </tr>
            </table>
        </div>
        <div class="row">
            <a href="{{ path('produit') }}">Retour</a>
        </div>
    </div>
{% endblock %}
